<footer class="text-muted">
      <div class="container">
            <p class="float-right">
                  <a href="#">Back to top</a>
            </p>
            <p>Contrology ECD is &copy; Michiel, en nog volledig in de testfase, verwacht er niet te veel van...</p>
            <p>Wie is die Michiel? Check <a href="https://www.linkedin.com/in/michiel-janssens-8b747328/">LinkedIn</a> of kijk op <a href="https://github.com/phylyps-trak">GitHub</a>.</p>
            <p>
              Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            
            </p>
      </div>
</footer>