<script src="clients.js"></script>
<h2>Clients</h2>
<hr />
<!-- eerst test voor uitlezen variablen uit TS-->
<div>
De eerste client heet {{ client1.firstName }} {{ client1.lastName }}
</div>
<div *ngIf="client2"><!-- voor als er misschien nog geen object is aangemaakt... -->
De tweede client heet {{ client2.firstName }} {{ client2.lastName }}
</div>
<br />
<!--tijdelijk uitgeschakeld
<h3>Eerste methode</h3>
<button (click)="fillClients()">fill clients</button>
<div *ngIf="clientsArray">
  <ul>
    <li *ngFor="let client of clientsArray">
      {{ client.firstName }}
    </li>
  </ul>
</div>
<hr />
--> 
<h3>Tweede methode (Alex)</h3>
<ul>
  <li *ngFor="let client of getClients()">
    {{ client.p?.voornaam }} {{ client.p?.achternaam }}
  </li>
</ul>


<!-- CLIENTS SHOW ------->
<a class="btn btn-warning" href="#" role="button"
onclick="MaakTabelVanJSON()">Tsar bomba!</a>
<br/>
<p id="showData"></p>