<script src="clients.js"></script>
<h2>Clients</h2>
<hr />
<!-- eerst test voor uitlezen variablen uit TS-->
<div>
De eerste client heet {{ client1.firstName }} {{ client1.lastName }}
</div>
<div *ngIf="client2"><!-- voor als er misschien nog geen object is aangemaakt... -->
De tweede client heet {{ client2.firstName }} {{ client2.lastName }}
</div>
<br />
<!--tijdelijk uitgeschakeld
<h3>Eerste methode</h3>
<button (click)="fillClients()">fill clients</button>
<div *ngIf="clientsArray">
  <ul>
    <li *ngFor="let client of clientsArray">
      {{ client.firstName }}
    </li>
  </ul>
</div>
<hr />
--> 
<h3>Tweede methode (Alex)</h3>
<div class = "myContainer">
      <div class = "box"  *ngFor="let client of getClients()">
            <div class="card">
                  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
                  <div class="container">
                        <h4><b>{{ client.p?.voornaam }} {{ client.p?.achternaam }}</b></h4>
                        <!-- dat met zo'n vraagteken is null-safe dereferencing, zoek op wat dat precies is... -->
                  </div>
            </div>
      </div>
</div>